@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Batang:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: #6E7073;
    font-family: 'Gowun Batang', serif;
}

a {
    text-decoration: none;
}


/* Remover as setas de aumento e diminuição */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remover a aparência padrão */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.outilineText {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}